

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  /* padding: 8px 16px; */
  border-radius: 5px;
  transition: background-color 0.3s;
}

