.popup-animate {
  animation: popupEnter 0.45s ease-out forwards;
}

@keyframes popupEnter {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.popup-bg-animate {
  animation: fadeBg 0.25s ease-out forwards;
}

@keyframes fadeBg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
